# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/


# 모델 파일
models/*.pkl
models/*.joblib

# MLflow
mlruns/
mlflow.db

# 환경 변수
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store