# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# 데이터 용량이 커서 각자 다운
data/raw/
data/interim/


# MLflow
mlruns/
mlflow.db

# 환경 변수
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store